@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header > div.cabecalho {
    background-color: white;
    padding: 5px;
}

div.cabecalho > h1 {
    font-size: 1.1em;
    text-align: center;
}

header > div.img {
    height: 48vh;
    background-image: url(../imagens/michael-jordan.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

div.conteudo > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

header > div.img > div.conteudo {
    color: white;
    width: 360px;
    position: absolute;
    left: 20%;
    top: 30%;
    margin: auto;
}

div.conteudo > h2 {
    margin-top: 2vh;
    margin-bottom: 2.5vh;
}

/*----------------------------------------------------------*/

section.primeira > div.titulo {
    width: 420px;
    margin: auto;
    padding-top: 8vh;
    text-align: center;
}

div.titulo > h1 {
    margin-bottom: 10px;
}

/*-------------------------------------------------------------*/

.auto {
    max-width: 1101px;
    margin: auto;
    padding-top: 5vh;
}

.conteiner {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.item {
    background-color: rgba(211, 211, 211, 0.616);
    width: 340px;
    height: 220px;
}

.um {
    background-image: url(../imagens/air-jordan-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

.info_um > p {
    margin-top: 1vh;
}

.dois {
    background-image: url(../imagens/air-jordan-2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

.tres {
    background-image: url(../imagens/air-jordan-3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

.responsa {
    margin: auto;
}

.quatro {
    background-image: url(../imagens/air-jordan-4.png);    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

.cinco {
    background-image: url(../imagens/air-jordan-5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

.seis {
    background-image: url(../imagens/air-jordan-6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

footer {
    margin-top: 10vh;
    background-color: lightgray;
    padding: 5px;
    text-align: center;
}

footer > p {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}
