@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header > div.cabecalho {
    background-color: white;
    padding: 5px;
}

div.cabecalho > h1 {
    font-size: 1.1em;
    text-align: center;
}

header > div.img {
    height: 48vh;
    background-image: url(../imagens/michael-jordan.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

div.conteudo > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

header > div.img > div.conteudo {
    color: white;
    width: 360px;
    position: absolute;
    left: 20%;
    top: 30%;
}

div.conteudo > h2 {
    margin-top: 2vh;
    margin-bottom: 2.5vh;
}

/*----------------------------------------------------------*/

section.primeira > div.titulo {
    width: 420px;
    margin: auto;
    padding-top: 8vh;
    text-align: center;
}

div.titulo > h1 {
    margin-bottom: 10px;
}
