@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

header {
    background-color: white;
}

header > p {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

/* Main será estilizado aqui - Pedro Batista 28/04 */ 

section.primeira {
    background-image: url(../imagens/michael-jordan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50vh;
    position: relative;
}

section.primeira > article {
    position: absolute;
    left: 25%;
    top: 30%;
}

section.primeira > article > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
}

section.primeira > article > div > p {
    color: white;
}

section.primeira > article > h2 {
    margin-bottom: 10px;
    color: white;
}

section.primeira > article > p {
    color: white;
}

